In [1]:
import numpy as np
import pandas as pd
import csv, os
from bs4 import BeautifulSoup

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
df_train = pd.read_csv('../Data/train_clean.csv',encoding='utf-8')
qid_stack = df_train['qid1'].append(df_train['qid2'])
df_train_naExc = df_train[~df_train.isnull().any(axis=1)]
df_buf1 = df_train_naExc[['qid1','question1']]
df_buf2 = df_train_naExc[['qid2','question2']]
df_buf1.columns = ['qid','question']
df_buf2.columns = ['qid','question']
df_stack = df_buf1.append(df_buf2)
df_stack_dupExc = df_stack.drop_duplicates()
test_buf = df_stack_dupExc['question'].head(1000)

In [20]:
tfidf = TfidfVectorizer(analyzer = "word", max_features = 5000, 
                        stop_words="english", ngram_range=(1,2))
features = tfidf.fit_transform(test_buf).toarray()

In [21]:
## Select top features for each test sample
tfidf_tags = []
top_n = -5
feature_array = np.array(tfidf.get_feature_names())
tfidf_sorting = np.argsort(features)
for i, e in enumerate(tfidf_sorting):
    tmp_tags = []
    indexes = e[top_n:]
    for idx in indexes:
        cur_tag = feature_array[idx]
        if features[i][idx] > 0.1 and len(cur_tag)>3 and '_' not in cur_tag:
            tmp_tags.append(cur_tag.replace(' ', '-'))
    tfidf_tags.append(" ".join(tmp_tags))

In [25]:
test_df = pd.DataFrame({'id':df_stack_dupExc['qid'].head(1000), 'tags':tfidf_tags})

In [26]:
test_df.head()

   id                                               tags
0   1  step-guide step-step market-india share-market...
1   3     story story-kohinoor diamond noor noor-diamond
2   5  using-vpn connection connection-using speed-in...
3   7  mentally lonely-solve lonely solve mentally-lo...
4   9   methane methane-carbon sugar-salt dissolve oxide

In [27]:
tfidf = TfidfVectorizer(analyzer = "word", max_features = 5000, 
                        stop_words="english", ngram_range=(1,2))
features = tfidf.fit_transform(df_stack_dupExc['question']).toarray()
## Select top features for each test sample
tfidf_tags = []
top_n = -5
feature_array = np.array(tfidf.get_feature_names())
tfidf_sorting = np.argsort(features)
for i, e in enumerate(tfidf_sorting):
    tmp_tags = []
    indexes = e[top_n:]
    for idx in indexes:
        cur_tag = feature_array[idx]
        if features[i][idx] > 0.1 and len(cur_tag)>3 and '_' not in cur_tag:
            tmp_tags.append(cur_tag.replace(' ', '-'))
    tfidf_tags.append(" ".join(tmp_tags))

In [28]:
df = pd.DataFrame({'id':df_stack_dupExc['qid'], 'tags':tfidf_tags})

In [29]:
df.head()

   id                                tags
0   1   invest share guide step-step step
1   3                       story diamond
2   5  increase internet speed connection
3   7               solve lonely mentally
4   9             water sugar carbon salt

In [31]:
df.to_csv('train_tag.csv', index=False)

In [3]:
df_test = pd.read_csv('../Data/test_clean.csv',encoding='utf-8')
path_test = "your_path/test_clean.csb"
df_test = pd.read_csv(path_test,encoding='utf-8')

In [35]:
df_test.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24 How...,How much cost does hair transplant require
2,2,What but is the best way to send money from Ch...,What you send money to China
3,3,Which food not emulsifiers,What foods fibre
4,4,"How ""aberystwyth"" start reading",How their can I start reading

In [47]:
df_test_na = df_test[df_test.isnull().any(axis=1)]
df_test_na.head()

,test_id,question1,question2
379205,379205,How I can learn android app development,NaN
817520,817520,How real can learn android app development,NaN
943911,943911,How app development,NaN
1046690,1046690,NaN,How I what can learn android app development
1270024,1270024,How I can learn app development,NaN

In [ ]:
df_test_naExc = df_test[~df_test.isnull().any(axis=1)]

In [ ]:
tfidf = TfidfVectorizer(analyzer = "word", max_features = 5000, 
                        stop_words="english", ngram_range=(1,2))
features = tfidf.fit_transform(df_test_naExc['question1']).toarray()
## Select top features for each test sample
tfidf_tags = []
top_n = -5
feature_array = np.array(tfidf.get_feature_names())
tfidf_sorting = np.argsort(features)
for i, e in enumerate(tfidf_sorting):
    tmp_tags = []
    indexes = e[top_n:]
    for idx in indexes:
        cur_tag = feature_array[idx]
        if features[i][idx] > 0.1 and len(cur_tag)>3 and '_' not in cur_tag:
            tmp_tags.append(cur_tag.replace(' ', '-'))
    tfidf_tags.append(" ".join(tmp_tags))
    
tfidf_tags1 = tfidf_tags

In [ ]:
tfidf = TfidfVectorizer(analyzer = "word", max_features = 5000, 
                        stop_words="english", ngram_range=(1,2))
features = tfidf.fit_transform(df_test_naExc['question2']).toarray()
## Select top features for each test sample
tfidf_tags = []
top_n = -5
feature_array = np.array(tfidf.get_feature_names())
tfidf_sorting = np.argsort(features)
for i, e in enumerate(tfidf_sorting):
    tmp_tags = []
    indexes = e[top_n:]
    for idx in indexes:
        cur_tag = feature_array[idx]
        if features[i][idx] > 0.1 and len(cur_tag)>3 and '_' not in cur_tag:
            tmp_tags.append(cur_tag.replace(' ', '-'))
    tfidf_tags.append(" ".join(tmp_tags))
    
tfidf_tags2 = tfidf_tags

In [ ]:
df_test_naExc['question1_tags'] = tfidf_tags1
df_test_naExc['question2_tags'] = tfidf_tags2

In [ ]:
df_test_naExc.to_csv('test_tag.csv', index=False)

In [4]:
import gc

In [5]:
gc.enable()